*,
*:before,
*:after
  +box-sizing(border-box)

body
  background: $blue
  font-family: sans-serif
  color: #fff

a.btn
  display: inline-block
  font-size: 14px
  text-decoration: none
  padding: 10px 15px
  background: $orange
  color: #fff
  font-weight: bold
  border-radius: $br
